<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Restcomm Identity</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<!-- <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>-->
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>

<div class="container">

	<div class="starter-template">
		<h1>Register new instance</h1>
		<p class="lead">
			Register your Restcomm instance to gain access<br> to cloud
			fascilities and SSO.
		</p>
	</div>
	<div class="register-form">
		<form ng-submit="doRegister(inst)">
			<div class="form-group">
				<label>Name</label>
				<input ng-model="inst.name" type="text" placeholder="MyInstance" class="form-control">
			</div>
			<div class="form-group">
				<label>Secret</label>
				<input ng-model="inst.secret" type="secret" placeholder="secret" class="form-control">
			</div>
			<div class="form-group">
				<label>Prefix</label>
				<input ng-model="inst.prefix" type="url" placeholder="https://xx.xx.xx.xx:port" class="form-control">
			</div>
			
			<button type="submit" class="btn btn-default">Submit</button>			
		</form>	
	</div>

</div>
<!-- /.container -->

